PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/CareerLens
JWT_SECRET=replace_with_a_long_random_secret

CLIENT_URL=http://localhost:5173

RAPID_API_KEY=your_rapidapi_key
RAPID_API_HOST=jsearch.p.rapidapi.com

ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_APP_KEY=your_adzuna_app_key

GMAIL_CLIENT_ID=your_google_oauth_client_id
GMAIL_CLIENT_SECRET=your_google_oauth_client_secret
GMAIL_REDIRECT_URI=http://localhost:5000/api/gmail/callback
